<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Pet Shop Boys</title>

    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        h3 {
            font-family: 'Roboto', sans-serif;
        }

        .nav-item li > a:hover{
            background-color: blue;
        }

        .nav-item li.active a{
            background-color: blue !important;
        }
    </style>
</head>
<body>

<div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
        <div class="col-2  text-white" style="background-color:#45bbbd">


            <div th:replace="menu :: categories"></div>
            <div>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" name="logout" class="btn btn-outline-light" style="margin-left:10px; margin-top:20px">Logout</button>
                </form>
            </div>


        </div>
        <div class="col-10 px-0">

            <div class="text-white p-2 text-center" style="background-color:#1999b2;">
                <h3>THE PET SHOP BOYS - PET SHOP</h3>
            </div>

            <div class="m-3">

                <h2>Cart</h2>
                <table style="border-collapse: collapse; width: 100%;">
                    <thead>
                    <tr>
                        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Product Name</th>
                        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Quantity</th>
                        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${cartItems}">
                        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;" th:text="${item.product.name}">Product name</td>
                        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;" th:text="${item.quantity}">Quantity</td>
                        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;" th:text="${item.totalPrice}">Price</td>
                    </tr>
                    </tbody>
                </table>
                <div>
                    <h4>Total: <span th:text="${totalPrice}">Total price</span></h4>
                </div>
                <!-- Add the form for placing an order inside the cart template -->
                <form action="/cart/place-order" method="post">
                    <!-- You might want to include CSRF token for security reasons -->
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                    <!-- Add a button within the form to submit the order -->
                    <button type="submit" class="btn btn-success">Place Order</button>
                </form>

            </div>

        </div>
    </div>
</div>

</body>
</html>
